<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylzb.fastpay" >
    <application
        android:usesCleartextTraffic="true">
        <!-- 微信支付回调函数-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="${wx_appid}" />
            </intent-filter>
        </activity>
    </application>

</manifest>

